<div class="bd-bear-dialog-body" style="display: block; right:50px; top: 10px; position: fixed; height: 425px;">
  <div class="bd-bear-dialog-main">
    <div class="bd-bear-dialog-list opui-scroll-ctrl-content opui-scroll-onwheel" style="overflow: scroll";>
      <ul id='dialogbox' style="zoom: 1;">
      </ul>
    </div>
    <div class="opui-scroll-ctrl-scroll" data-click="{fm:&quot;beha&quot;}" style="height: 322px; display: none;">
      <div class="opui-scroll-axis" style="height: 322px;"></div>
      <div class="opui-scroll-slider OP_LOG_BTN" style="display: none; top: 0px;">
        <div class="opui-scroll-s-top"></div>
        <div class="opui-scroll-s-bottom"></div>
        <div class="opui-scroll-s-block"></div>
      </div>
    </div>
  </div>
  <div class="bd-bear-dialog-foot">
    <textarea class="c-input bd-bear-dialog-input" placeholder="与图灵机器人对话" placeholdertext="与图灵机器人对话"></textarea>
  </div>
  <div class="bd-bear-dialog-control bd-bear-dialog-control-rendered">
    <a class="c-btn bd-bear-dialog-send" href="javascript:void(0);"><strong>发送</strong> (回车)</a>
  </div>
</div>
